on: push
name: Main Workflow
jobs:
  tests:
    strategy:
      matrix:
        node: ['16', '14', '12']
    name: Run NPM Stuff
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-node@v2
      with:
        node-version: ${{matrix.node}}
    - run: npm install
    - run: npm test
